[submodule "lib/termcolor"]
	path = lib/termcolor
	url = https://github.com/Wicker25/termcolor.git
[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/Wicker25/sol2.git
[submodule "lib/linenoise"]
	path = lib/linenoise
	url = https://github.com/Wicker25/linenoise.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/Wicker25/spdlog.git
